<!-- Lista de un usuario poniendo los datos y llamandolos con brackets -->
<h1>Agenda de usuarios</h1>

<div class="container">
  <div class="box">
    <label for="nombre">Nombre: {{ nombre }}</label
    ><br />
    <label for="edad">Edad: {{ edad }}</label
    ><br />
    <label for="correo">Correo: {{ correo }}</label
    ><br />
    <label for="telefono">Teléfono: {{ telefono }}</label>
  </div>

  <div class="box">
    <label for="nombre">Nombre: {{ nombre1 }}</label
    ><br />
    <label for="edad">Edad: {{ edad1 }}</label
    ><br />
    <label for="correo">Correo: {{ correo1 }}</label
    ><br />
    <label for="telefono">Teléfono: {{ telefono1 }}</label>
  </div>
</div>
